# macOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
.AppleDouble
.LSOverride
Icon

# Thumbnails
Thumbs.db

# macOS network drive metadata
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
